.hero {
    width: 100%;
    height: 100%;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

.hero__image {
    background-color: #000;
    background-image: url("../Photos/hero-image 2.png"); 
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.hero__bar {
    margin-top: 20px;
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: #55bba6;
    border-radius: 20%; 
}

.hero__subtitle {  
    width: 25%;
    margin-top: 35px;
    font: CircularStd;
    font-size: 10px;
    line-height: 15px;
    color: #FFF;
    letter-spacing: 2px; 
    text-transform: uppercase;  
}

.hero__title { 
    width: 40%;
    margin-bottom: 0;
    margin-top: 0;
    font: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    letter-spacing: 19px;
    color: #FFF;
    text-transform: uppercase;
}

.hero__description {   
    width: 33%; 
    color: #FFF;
    font-family: Sofia Pro;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 1.72px;
}

.hero__logo {
    position: absolute;
    left: 15%;
    right: 73%;
    top: 3%;
    bottom: 94%;
}

.hero__mention { 
    color: #FFF;
    font: Sofia Pro;
    font-size: 12px;
    line-height: 29px ;
    letter-spacing: 0.7px;
    margin-top: 20px;
}

.hero__button {
    padding-top: 10px;
    padding-left: 10px;
    letter-spacing: 0.7px;
    border-radius: 0px;    
    cursor: pointer;
    text-align: center;
    font: Sofia Pro;
    font-size:20px;
    height: 30px; 
    color: white;  
    text-decoration: none;
}

.hero__button--green {
    padding-left: 45px;
    padding-right: 45px;
    background: #55bba6;
    border: 2px solid #55bba6;  
}

.hero__button--white {
    padding-left: 55px;
    padding-right: 55px;
    border: 2px solid #FFF;
    background: #FFFFFF20;
    margin-left: 15px;
}

.hero__content {  
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.hero__actions {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.hero__sidebar {
    background-color: #FFF;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__sidebar--text {
    font: Sofia Pro;
    font-size: 14px;
    line-height: 0px;
    letter-spacing: 2px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.hero__sidebar--text::after {
    content: "\2022";
    color: #55bba6;
    margin-top: 30px;
    font-size: 20px;
}

ul>li:first-child:after {
    content: none;
}

.hero__sidebar--apparence {
    list-style-type: none;
}

.mission__title {
    color: #55bba6;
    font: DM Serif Display;
    font-size: 36px;
    letter-spacing: 5px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    width: 43%;
}

.mission {
    font: SofiaProRegular;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}   

.mission__content {
   width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
}

.mission__text {
    width: 15%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none; 
}

.gallery__horizontal {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.gallery__space {
    padding-right: 5px;
}

.gallery__mask {
    background: linear-gradient(#020024, #020024);
    margin-right: 5px;
}

.gallery__title { 
    color: #FFF;
    font: DM Serif Display;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 3px;
    margin: 0;
} 

.gallery__text {
    color: #FFF;
    font: Sofia Pro;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
}

.gallery__bar {
    height: 4px;
    width: 30px;
    display: block;
    background-color: #55bba6;
    border-radius: 20%; 
}

.gallery__button {
    margin-top: 20px;
    letter-spacing: 0.7px;
    padding: 18px 55px;
    cursor: pointer;
    text-align: center;
    font: Sofia Pro;
    font-size:20px;
    color: white;  
    text-decoration: none;
    display: inline-block;  
}

.gallery__button--green {
    background: #55bba6;
}

.gallery__list {
    list-style-type: none;
}

.gallery__shore {
    height: 212px;
}

.gallery__primary {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.gallery__primary--description {
    width: 60%;
    height: auto;
    position: absolute;
}

.hero__navbar--dropdown {
    position: relative;
    display: inline-block;
}

.hero__dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    z-index: 1;
    font-size: 18px;
    font: circular std;
    line-height: 23px;
    color: #55bba6;
    cursor: pointer;
    opacity: 0.7;
    padding-right: 50px;
    margin-left: -30px;
}

.hero__dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #FFF;
}

.hero__dropdown-content a:hover {
    background-color: #000;
}

.hero__navbar--dropdown:hover .hero__dropdown-content {
    display: block;    
}

.hero__navbar {
    width: 80%;
    display: flex;
    justify-content: flex-end; 
    position: absolute;
    z-index: 99;
    padding-top: 20px;
}

.hero__navbar--list {   
    display: flex;
    list-style-type: none;
    width: 35%;
    justify-content: space-between;  
}

.hero__navbar--item {  
    font: circular std;
    height: 21px;
    font-size: 18px;
    line-height: 23px; 
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.hero__dropdown--line {
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    color: #fff;
    text-decoration: none;
}

.hero__dropdown--line:hover {
    color: #55bba6;
    text-decoration: none;
}

.hero__slidebar {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 90;
    bottom: 60px;
    right: 30px;
    height: auto;
}

.hero__slidebar--dot {
    letter-spacing: 0.7px;   
    cursor: pointer;
    text-align: center;
    font: Sofia Pro;
    font-size:20px;
    height: 30px;  
    text-decoration: none;
    display: flex;
    flex-direction: row; 
}

.hero__slidebar--item {
    margin-right: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: none;
    display: block;  
    border-radius: 50%;
    border: 2px solid #fff;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

.hero__slidebar--item:hover {
    margin-right: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: none;
    display: block;  
    border-radius: 50%;
    border: 2px solid #fff;
    font-weight: bold;
    background: #fff;
    text-decoration: none;
    color: #000;
}

.hero__slidebar--dot::after { 
    content: "\002D";
    color: #fff;
    font-size: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.hero__slidebar--dot:last-child::after {
    content: none;
}

.hero__hamburger {
    display: none;
} 

 @media only screen and (max-width: 768px) and (min-width:541px) {   
    .hero__image {
        background: url("../photos/hero-image 2.png") no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: 80% 50%; 
    }

    .hero__content {  
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        height: 90%;
    }

    .hero__description {    
        font-size: 18px;
        padding-bottom: 10px;
        padding-right: 220px;
    }

    .hero__shape {
        top: 6%;
    }

    .hero__button {
        margin-top: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 25px;
    }

    .hero__button--green {
        padding-left: 55px;
        padding-right: 55px;
    }

    .hero__button--white {
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .hero__title { 
        width: 500px;
        font-size: 100px;
        letter-spacing: 17px;
    }
    
    .hero__description { 
        width: 380px; 
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 1.8px;
    }

    .hero__mention { 
        width: 400px;
        font-size: 14px;
    }
    

    .mission__title {
        width: 55%;
        display: flex;
        justify-content: space-around;
    }

    .hero__sidebar--text {
        font-size: 20px;
    }

    .hero__sidebar--text::after { 
        font-size: 25px;
    }

    .mission {
        width: 90%;
        display: flex;
        justify-content: start;
    }   

    .mission__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
   
    .mission__text:first-child { 
        width: 30%;
    }

    .mission__text:nth-child(2) { 
        width: 30%;
    }
    
    .mission__text:last-child {
        display: none;
    }

    .gallery__mask {
        background: linear-gradient(#020024, #020024);
        margin-right: 5px;
        width: 390px;
        height: 700px;
    }
    
    .gallery__button {
        letter-spacing: 0.8px;
        padding: 12px 55px;
        font-size:18px;
    }  

    .gallery__space {
        display: none;
    }

    .gallery__shore {
        object-fit: cover;
        object-position: 10% 0;
        width: 280px;
        height: 220px;
    }

    .gallery__sheeps {
        object-fit: cover;
        object-position: 50% 0;
        width: 280px;
        height: 475px;
    }

    .hero__navbar {
        display: none;
    }

    .hero__hamburger {
        position: absolute;
        width: 95%;
        display: flex;
        justify-content: flex-end; 
        position: absolute;
        padding-top: 35px;
        z-index: 99;
    }

    .hero__hamburger--btn {
        color: #FFF;
        font-size: 40px;
        margin-top: -3px;
    }

    .hero__hamburger--closed {
        display: none;
    }

    .hero__hamburger--opened {
        list-style-type: none;
        background: #000;
        opacity: 0.95;
        position: fixed;
        z-index: 99;
        right: 0;
        height: 100%;
        width: 40%;
        display: flex;
        align-items: flex-start;
        padding-top: 5%;
        float: right;
        flex-direction: column;
        font: Circular Std;
        font-size: 20px;
        margin-top: -35px;
    }

    .hero__hamburger--noexit {
        display: none;
    }

    .hero__hamburger--font {
        color: #fff;
        text-decoration: none;
        font-size: 30px;
        text-transform: uppercase;
    }

    .hero__hamburger--space {
        padding-top: 20%;
    }

    .hero__hamburger--arrow {
        color: #FFF;
    }

    .hero__hamburger--none{
        display: none;
    }

    .hero__hamburger--minmen {
        padding-left: 25%;
        display: flex;
        flex-direction: column;
    }

    .hero__dropdown--min{
        font-size: 25px;
        padding-top: 20%;
        padding-left: 15%;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
    }

    .hero__hamburger--exit {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #FFF;
    }

    .hero__exit--btn {
        color: #55bba6;
        display: flex;
        justify-content: space-between;
        width: 80%;
        flex-direction: row;
    }

    .hero__hamburger--logo {
        opacity: 0.2;
    }

    .hero__hamburegr--bar {
        margin-top: 20px;
        height: 12%;
        width: 3px;
        background-color: #55bba6;
        border-radius: 20%; 
        position: absolute;
    }

    .hero__hamburegr--horizontalbar {
        margin-top: 30%;
        height: 3px;
        width: 40%;
        background-color: #FFF;
        border-radius: 20%; 
        position: absolute;
        opacity: 0.2;
    }
} 

@media only screen and (max-width: 540px) {
    .hero__image {
        background: url("../Photos/hero-image 2.png") no-repeat;
        overflow-x: hidden;
        overflow-y: hidden;
        background-position: 80% 35%; 
    }

    .hero__actions {
        display: flex;
        flex-direction: column;
        width: 270px;
    }
    
    .hero__content {  
        margin-top: 10%;  
    }
  
    .hero__button--white {
        margin-top: 20px;
        margin-left: 0px;    
    }
     
    .hero__title { 
        width: 300px;
        font-size: 65px;
        letter-spacing: 7px;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .hero__description { 
        width: 250px; 
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 1.8px;
    }

    .hero__mention { 
        width: 250px;
        font-size: 14px;
        margin-top: 30px;
    }
    
    .hero__sidebar--text {  
        letter-spacing: 1px;
        padding-left: 0px;
        margin-left: -15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .mission {
        font-size: 18px;
        line-height: 30px;
        display: flex;
        justify-content: start;
    }

    .mission__title {
        width: 93%;
        display: flex;
        justify-content: space-around;
    }

    .mission__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        justify-content: space-around;
    }
   
    .mission__text:first-child { 
        width: 65%;
    }

    .mission__text:nth-child(2) { 
        width: 65%;
    }

    .mission__text:last-child{
        display: none;
    } 

    .gallery__mask {
        background: linear-gradient(#020024, #020024);
        width: 330px;
        height: 500px;
        margin-bottom: 3px;
        margin-left: 3px;
    } 
    
    .gallery__button {
        letter-spacing: 0.8px;
        padding: 18px 45px;
        font-size:18px;
    } 
    
    .gallery__shore {
        height: 213px;
    }

    .gallery__space {
        display: none;
    }
    
    .gallery__shore {
        object-fit: cover;
        object-position: 10% 0;
        width: 330px;
        height: 210px;
    }

    .gallery__sheeps {
        object-fit: cover;
        object-position: 55% 0;
        width: 330px;
        height: 455px;
    }

    .hero__navbar {
        display: none;
    }

    .hero__slidebar {
        display: none;
    } 

    .hero__hamburger {
        position: absolute;
        width: 95%;
        display: flex;
        justify-content: flex-end; 
        position: absolute;
        padding-top: 35px;
        z-index: 99;
    }

    .hero__hamburger--btn {
        color: #FFF;
        font-size: 40px;
        margin-top: -3px;
    }

    .hero__hamburger--closed {
        display: none;
    }

    .hero__hamburger--opened {
        list-style-type: none;
        background: #000;
        opacity: 0.95;
        position: fixed;
        z-index: 99;
        right: 0;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: flex-start;
        padding-top: 5%;
        float: right;
        flex-direction: column;
        font: Circular Std;
        font-size: 25px;
        margin-top: -35px;
    }

    .hero__hamburger--noexit {
        display: none;
    }

    .hero__hamburger--font {
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        text-transform: uppercase;
    }

    .hero__hamburger--space {
        padding-top: 20%;
    }

    .hero__hamburger--arrow {
        color: #FFF;
    }

    .hero__hamburger--none{
        display: none;
    }

    .hero__hamburger--minmen {
        padding-left: 25%;
        display: flex;
        flex-direction: column;
    }

    .hero__dropdown--min{
        font-size: 20px;
        padding-top: 20%;
        padding-left: 15%;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
    }

    .hero__hamburger--exit {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #FFF;
    }

    .hero__exit--btn {
        color: #55bba6;
        display: flex;
        justify-content: space-between;
        width: 80%;
        flex-direction: row;
    }

    .hero__hamburger--logo {
        opacity: 0.2;
    }

    .hero__hamburegr--bar {
        margin-top: 20px;
        height: 14%;
        width: 3px;
        background-color: #55bba6;
        border-radius: 20%; 
        position: absolute;
    }

    .hero__hamburegr--horizontalbar {
        margin-top: 40%;
        height: 3px;
        width: 50%;
        background-color: #FFF;
        border-radius: 20%; 
        position: absolute;
        opacity: 0.2;
    }
}