.hero {
    width: 100%;
    height: 100%;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

.hero__image {
    background-color: #000;
    background: url("../Photos/hero-image 2.png") no-repeat center center fixed; 
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar {
    background-color: #FFF;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar__text {
    font: Sofia Pro;
    font-size: 14px;
    line-height: 0px;
    letter-spacing: 2px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.sidebar__text::after {
    content: "\2022";
    color: #55bba6;
    margin-top: 30px;
    font-size: 20px;
}

ul>li:first-child:after {
    content: none;
}

.style {
    list-style-type: none;
}

.hero__bar {
    margin-top: 20px;
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: #55bba6;
    border-radius: 20%; 
}

.hero__subtitle {   
    margin-top: 35px;
    font: CircularStd;
    font-size: 10px;
    line-height: 15px;
    color: #FFF;
    letter-spacing: 2px; 
    text-transform: uppercase;  
}

.hero__title {
    margin-bottom: 20px;
    margin-top: 25px;
    font: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    letter-spacing: 19px;
    color: #FFF;
    text-transform: uppercase;
}

.hero__description {    
    color: #FFF;
    font-family: Sofia Pro;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 1.72px;
    padding-right: 950px;
}

.hero__logo {
    position:absolute;
    left: 15%;
    right: 73%;
    top: 3%;
    bottom: 94%;
}

.hero__mention { 
    color: #FFF;
    font: Sofia Pro;
    font-size: 12px;
    line-height: 29px ;
    letter-spacing: 0.7px;
    margin-top: 20px;
}

.hero__button {
    padding-top: 10px;
    padding-left: 10px;
    letter-spacing: 0.7px;
    border-radius: 0px;    
    cursor: pointer;
    text-align: center;
    font: Sofia Pro;
    font-size:20px;
    height: 30px; 
    color: white;  
    text-decoration: none;
}

.hero__button--green {
    padding-left: 45px;
    padding-right: 45px;
    background: #55bba6;
    border: 2px solid #55bba6;  
}

.hero__button--white {
    padding-left: 55px;
    padding-right: 55px;
    border: 2px solid #FFF;
    background: #FFFFFF20;
    margin-left: 15px;
}

.hero__content {  
    padding: 10px;
    margin-left: 15%;
    margin-top: 120px;
    position: absolute;
}

.hero__actions {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.mission__title {
    color: #55bba6;
    font: DM Serif Display;
    font-size: 36px;
    letter-spacing: 5px;
    padding-top: 30px;
    padding-left: 205px;
    display: flex;
    justify-content: flex-start;
}

.mission {
    font: SofiaProRegular;
    font-size: 18px;
    line-height: 30px;
}   

.mission__content {
    padding-top: 30px; 
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 210px;
}

.mission__text {
    padding-right: 210px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 50px;
    padding-top: 50px;
}

.gallery__horizontal {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.gallery__space {
    padding-right: 5px;
}

.gallery__mask {
    background: linear-gradient(#020024, 
    #020024);
    margin-right: 5px;
}

.gallery__title { 
    position: absolute;
    color: #FFF;
    font: DM Serif Display;
    padding-top: 130px;
    padding-left: 80px;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 3px;
} 

.gallery__text {
    position: absolute;
    color: #FFF;
    font: Sofia Pro;
    padding-top: 220px;
    padding-right: 1020px;
    padding-left: 80px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
}

.gallery__bar {
    margin-top: 140px;
    margin-left: 80px;
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: #55bba6;
    border-radius: 20%; 
}

.gallery__button {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    letter-spacing: 0.7px;
    border-radius: 0px;    
    cursor: pointer;
    text-align: center;
    font: Sofia Pro;
    font-size:20px;
    height: 30px; 
    color: white;  
    text-decoration: none;
}

.gallery__button--green {
    padding-left: 45px;
    padding-right: 45px;
    background: #55bba6;
    display: block;  
    border: 2px solid #55bba6;
    margin-left: 80px;
    margin-top: 400px;  
}

.gallery__list {
    list-style-type: none;
}

.gallery__shore {
    height: 213px;
}

.navbar {
    width: 80%;
    display: flex;
    justify-content: flex-end; 
    position: absolute;
    z-index: 99;
    padding-top: 20px;
}

.navbar--list {   
    display: flex;
    list-style-type: none;
    width: 30%;
    justify-content: space-around;  
}

.navbar--item {  
    font: circular std;
    height: 21px;
    font-size: 18px;
    line-height: 23px; 
    cursor: pointer;
}

.navbar--item a {
    color: #fff;
    text-decoration: none;
}

.slidebar {
    display: flex;
    justify-content: flex-end; 
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    z-index: 99;
    padding-top: 20px;
    right: 0;
    height: 90%;
}

.slidebar--dot {
    letter-spacing: 0.7px;   
    cursor: pointer;
    text-align: center;
    font: Sofia Pro;
    font-size:20px;
    height: 30px;  
    text-decoration: none;
    display: flex;
    flex-direction: row; 
}

.slidebar--item {
    margin-right: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: none;
    display: block;  
    border-radius: 50%;
    border: 2px solid #fff;
    font-weight: bolder;
}

.slidebar--item:hover {
    margin-right: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: none;
    display: block;  
    border-radius: 50%;
    border: 2px solid #fff;
    font-weight: bolder;
    background: #fff;
}

.slidebar--item:hover a {
    text-decoration: none;
    color: #000;
} 

.slidebar--item a {
    text-decoration: none;
    color: #FFF;
} 

.slidebar--dot::after {
    
    content: "\002D";
    color: #fff;
    font-size: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
   
}

.slidebar--dot:last-child::after {
    content: none;
}
 
 @media only screen and (max-width: 768px) and (min-width:377px) {   
    .hero__image {
        background: url("../Photos/hero-image 2.png") no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: 80% 50%; 
    }

    .sidebar__text {
        font-size: 20px;
    }

    .sidebar__text::after { 
        font-size: 25px;
    }

    .hero__bar {
        margin-top: 120px;
    }

    .hero__subtitle {   
        margin-top: 135px;
        font-size: 14px;
    }

    .hero__title { 
        font-size: 100px;
        letter-spacing: 9px;
    }

    .hero__description {    
        font-size: 18px;
        padding-bottom: 10px;
        padding-right: 220px;
    }

    .hero__shape {
        top: 6%;
    }

    .hero__mention { 
        margin-top: 20px;
        font-size: 14px;
    }

    .hero__button {
        margin-top: 5px;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        font-size: 25px;
    }

    .hero__button--green {
        padding-left: 75px;
        padding-right: 75px;
    }

    .hero__button--white {
        padding-left: 85px;
        padding-right: 85px;
    }

    .mission__title {
        font-size: 44px;
        padding-top: 80px;
        padding-left: 60px;
        letter-spacing: 5px;
    }

    
    .mission__content {
        padding-top: 30px; 
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 24px;
        line-height: 40px;
       
    }

    .mission__text:first-child {
        padding-left: 60px;
        position: absolute;
        margin-right: 200px;
    }

    .mission__text:nth-child(2) {
        padding-left: 80px;
        margin-left: 320px;
        padding-right: 62px;
        
    }
    
    .mission__text:last-child {
        display: none;
    }

    .gallery {
        margin-left: 40px;
        margin-top: 70px;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: nowrap;
        padding-top: 0px;
    }
    
    .gallery__space {
        padding-right: 5px;
    }

    .gallery__mask {
        background: linear-gradient(#020024, 
        #020024);
        width: 400px;
        height: 670px;
    }

    .gallery__bar {
        margin-left: 50px;
    }
    
    .gallery__title { 
        font-size: 40px;
        padding-left: 50px;
    } 
    
    .gallery__text {
        padding-top: 220px;
        padding-right: 370px;
        font-size: 22px;
        letter-spacing: 1px;
        padding-left: 50px;
    }
    
    .gallery__button {
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
        letter-spacing: 1.5px;
        font-size:25px;
    }
    
    .gallery__button--green {
        padding-left: 65px;
        padding-right: 65px;
        margin-left: 50px;
    }

    .gallery__space {
        display: none;
    }

    .gallery__shore {
        object-fit: cover;
        object-position: 10% 0;
        width: 280px;
        height: 210px;
    }

    .gallery__sheeps {
        object-fit: cover;
        object-position: 50% 0;
        width: 280px;
        height: 455px;
    }

    .navbar {
        display: none;
    }

    .hamburger {
        position: absolute;
        width: 95%;
        display: flex;
        justify-content: flex-end; 
        position: absolute;
        padding-top: 55px;
        z-index: 99;
    }

    .hamburger--btn {
        width: 40px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5 px #fff;
        transition: all .5s ease-in-out;
    }

    .hamburger--btn::before,   
    .hamburger--btn::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5 px #fff;
        transition: all .5s ease-in-out;
    }

    .hamburger--btn::before {
        transform: translateY(-16px);
    }

    .hamburger--btn::after {
        transform: translateY(16px);
    }

    .slidebar {
        width: 100%;  
    }
} 

@media only screen and (max-width: 376px) {
    .hero__image {
        background: url("../Photos/hero-image 2.png") no-repeat;
        overflow-x: hidden;
        background-position: 80% 35%; 
    }

    .hero__actions {
        display: flex;
        flex-direction: column;
        width: 270px;
    }
    
    .sidebar__text {  
        letter-spacing: 1px;
        padding-left: 0px;
        margin-left: -15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .hero__button--white {
        margin-top: 20px;
        margin-left: 0px;    
    }

    
    .hero__bar {
        margin-top: 0px;
    }

    .hero__subtitle {   
        margin-top: 10px;
        font-size: 16px;
        padding-right: 110px;
    }

    .hero__title {
        margin-bottom: 0px;
        margin-top: -12px;
        font-size: 60px;
        letter-spacing: 10px;
        
    }

    .hero__description {    
        font-family: Sofia Pro;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.2px;
        padding-right: 70px;
        line-height: 25px;
    }

    .hero__mention { 
        font-size: 14px;
        padding-right: 40px;
    }
   
    
    .mission__title {
        padding-left: 50px;
        display: flex;
        justify-content: flex-start;
    }

    .mission {
        font-size: 18px;
        line-height: 30px;
    }   

    .mission__content {
        padding-top: 30px; 
        margin-left: 50px;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;  
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mission__text{
        padding-right: 100px;
    }
    
    .mission__text:last-child{
        display: none;
    }

    .gallery {
        margin-left: 20px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    
    .gallery__space {
        padding-right: 5px;
    }

    .gallery__mask {
        background: linear-gradient(#020024, 
        #020024);
        width: 330px;
        height: 670px;
    }

    .gallery__bar {
        margin-left: 50px;
    }
    
    .gallery__title { 
        font-size: 40px;
        padding-left: 50px;
    } 
    
    .gallery__text {
        padding-top: 220px;
        padding-right: 100px;
        font-size: 22px;
        letter-spacing: 1px;
        padding-left: 50px;
    }
    
    .gallery__button {
        padding-top: 20px;
        padding-left: 0px;
        padding-bottom: 20px;
        letter-spacing: 1.5px;
        font-size:25px;
        margin-left: 30px;
        margin-top: 120%
    }
    
    .gallery__button--green {
        padding-left: 45px;
        padding-right: 45px;
    }

    .gallery__space {
        display: none;
    }

    .gallery__shore {
        object-fit: cover;
        object-position: 10% 0;
        width: 330px;
        height: 210px;
    }

    .gallery__sheeps {
        object-fit: cover;
        object-position: 55% 0;
        width: 330px;
        height: 455px;
    }

    .navbar {
        display: none;
    }

    .hamburger {
        position: absolute;
        width: 95%;
        display: flex;
        justify-content: flex-end; 
        position: absolute;
        padding-top: 55px;
        z-index: 99;
    }

    .hamburger--btn {
        width: 30px;
        height: 4px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5 px #fff;
        transition: all .5s ease-in-out;
    }
    
    .hamburger--btn::before,   
    .hamburger--btn::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5 px #fff;
        transition: all .5s ease-in-out;
    }

    .hamburger--btn::before {
        transform: translateY(-16px);
    }

    .hamburger--btn::after {
        transform: translateY(16px);
    }

    .slidebar {
        display: none;
    }
}